* {
    font-family: 'Questrial', sans-serif;
}

html {
    overflow-y: hidden;
}

body {
    background: linear-gradient(#000000, #303030);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-weight: bold;
    margin: 30px 0;
}

h2 {
    font-weight: bold;
    margin: 30px 0;
}

hr {
    border-color: white;
    margin-top: -15px;
}

.top-bar {
    width: 100%;
    display: inline-block;
}

.scoreButton {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 10px; 
}

#timer {
    float: right;
    margin-right: 10px;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: cyan;
}

#landing {
    width:40%;
    margin: 10% auto 0 auto;
    align-content: center;
    text-align: center;
    margin-top: 10%;
    border-radius: 10px;
    padding: 20px;
    background: #404040;
    border-left: 5px solid darkcyan;
    border-right: 5px solid darkcyan;
}

#startButton {
    font-size: 20px;
    margin-top: 20px;
}

.questions {
    padding: 25px;
    border-radius: 10px;
    width: 60%;
    margin: 10% auto 0 auto;
    align-content: left;
    text-align: center;
    align-content: center;
    border-left: 5px solid darkcyan;
    border-right: 5px solid darkcyan;
}

.answerButton {
    font-size: 20px;
    margin: 10px 0;
    display: block;
    text-align: center;
    width: 100%
}

.submit {
    font-size: 20px;
    margin-top: 20px;
}

.inputSection {
    width: 150px;
    margin: auto;
}

#initials {
    display: none;    
    width:50%;
    margin: auto;
    align-content: center;
    text-align: center;
    margin-top: 10%;
    color: cyan;
}

#highScoreDiv {
    display: none;
    width: 50%;
    margin: auto;
    align-content: center;
    text-align: center;
    margin-top: 10%;
    color: cyan;
}

#scorePageButtons {
    font-size: 20px;
    display: block;
    margin: 30px auto;
    padding: 5px 10px 5px 10px;
}


#secondaryBackground {
    background: #404040;
    color:white;
}

.homeButton {
    margin: auto;
    width: 50%;
    text-align: center;
}

button {
    color: black!important;
    background: cyan!important;
    border-style: none!important;
    border-radius: 5px!important;
}

button:hover {
    color: black!important;
    background: darkcyan!important;
}

i {
    font-size: 244px;
}